.projectPic {
    width: 100%
}

.linkButton {
    margin-left: 15px;
    padding: 15px 45px 15px 45px;
    text-transform: uppercase;
    font-size: 15px;
    border: solid 2px #07528f;
    color: #000;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 900;
    transition: transform ease 300ms;
    text-decoration: none;
}

.linkButton:hover {
    transform: translate(0, -10px);
    background-color: transparent;
    color: #000
}