.skillButton {
    transition: transform ease 300ms;
}

.skillButton:hover {
    transform: translate(0, -3px)
}

.flip {
    transition: color 1s;
    transition: background-color 1s;
    font-weight: 600;
}

.flip:hover, .flip:focus {
    background-color: #07528f;
    color: #fff
}

.skillButton {
    margin: 5px 5px 5px 5px;
    padding: 10px 15px 10px 15px;
    border-style: none;
    background-color: #848484;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
}